---
layout: career
title: Careers
permalink: /careers/
headerText: Careers
headerSubText: Joining Abtion means working on exciting projects with our team in a fun and friendly work environment, enjoying flexible work hours, a monthly Hackday, competitive benefits, and six weeks of vacation.We don’t have any open positions at the moment.If you don’t see any open positions suited for you here on our site, please don’t let that stop you! We are always looking for the most talented and dedicated people in the industry, so please reach out to us if you find Abtion interesting or have questions. Contact Helle-Vibeke Schütte at hvs@abtion.com.
---

{% include hero-title.html %}

<div class="about-content">
  <section id="introduction">
    <div class="container jobs">
      <section id="archive">
        {%for post in site.posts %}
        {% unless post.next %}
        <ul class="this">
        {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
        </ul>
        <h3>{{ post.date | date: '%Y' }}</h3>
        <ul class="past">
        {% endif %}
        {% endunless %}
        <li><time>{{ post.date | date:"%d %b" }}</time></li>
        <h2>{{ post.title }}</h2>
        <p>{{ post.underTitle }} | <a href="{{ post.url }}">Details</a></p>
        <div class="splitter"></div>
        {% endfor %}
        </ul>
      </section>
    </div>
  </section>
</div>
